# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


birthday-buddy/node_modules
Questions/node_modules
Reviews/node_modules
Tours/node_modules
Menu/node_modules
Tabs/node_modules
Slider/node_modules
Lorem-Ipsum/node_modules
Color-Generator/node_modules
Grocery-Bud/node_modules
Navbar/node_modules
SideBar/node_modules
Strapi/node_modules
Cart/node_modules